@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    border: 2px solid tomato;
}
/* headers style */
header{
    margin: 0px 100px;
}
.nav1{
    display: flex;
    margin-top: 15px;
    
    
}
.header1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.school{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
font-size: 23px;
font-weight: 700;
}
.list1{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 280px;
    margin-left: 132px;
   color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
}
.first{
    color: rgb(254, 163, 1);}
.second{
    color: rgb(1, 172, 253);
}
.third{
    color: rgb(5, 212, 223);
}
.fourth{
    color: rgb(93, 88, 239);
}
.btn1{
    width: 197px;
    height: 50px;
    margin-left: 132px;
    border-radius: 12px;
background: rgb(254, 163, 1);
}
.content1{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
}

/* main style */
.section1{
    display: flex;
    margin: 0px 100px;
}

.banner1{
    margin-top: 57px;
}
.header3{
    font-family: Quicksand;
font-size: 3rem;
font-weight: 700;
}
.span1{
    color: rgb(254, 163, 1);
}
.span2{
    color: rgb(17, 17, 17);
}
.span3{
    color: rgb(1, 172, 253);
}
.narate1{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 300;
margin-top: -15px;
}
.btn2{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
}
.content2{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
}
.img1{padding: 20px;
margin-left: 15px;
}
/* section2 style */
.section2{
    margin: 0px 100px;
}
.title1{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2rem;
font-weight: 700;
text-align: center;
margin-top: 60px;
}
/* card style */
.card-box1{
    display: grid;
   grid-template-columns: repeat(3, 1fr); 
   margin-top: 80px;
   background-image: url("bg.png");
   
}
.card-1{
border: 1px solid rgb(222, 245, 255);
border-radius: 18px;
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.img-card{
   /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 50px;
}
.tkids{
    color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 1.5rem;
font-weight: 700;
text-align: center;
}
.narate2{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 1rem;
font-weight: 400;
text-align: center;
margin: 0px 20px;
}
.narate3{
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
text-align: center;
}
.narate4{
    color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
text-align: center;
}
.narate5{
    color: rgb(135, 0, 255);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
text-align: center;
}
.card-2{
border: 1px solid rgb(255, 244, 220);
border-radius: 18px;
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-left: 20px;
}
.card-3{
border: 1px solid rgb(242, 232, 255);
border-radius: 18px;
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-left: 20px;
}





/* media query */
@media screen and (max-width: 576px) {

    .section1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
}